* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section_A {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  /*background-color: blue;*/
  display: flex;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 0 10px;
  display: flex;
}
.header span {
  font-size: 24px;
  font-weight: 700;
  margin-right: 5px;
  width: 30px;
}

.sec_a {
  border-right: 2px solid white;
}

.header h2 > span {
  color: lightgray;
  font-size: 17px;
}

.btl_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 598px;
}

.form_last_row{
	display: flex;
	align-items: center;
}